.galeria {
    padding: 2rem;
}
.galeria h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.imagenini {
    width: 500px;
    height: 500px;
}

footer {
    font-family: fantasy;
    margin: 5px;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    text-align: left;
}

@media (max-width: 1199px) {
    main {
        margin: 2px;
        text-align: center;
    }
    footer {
        font-family: monospace;
        margin: 2px;
    }
    .galeria {
        display: grid;
        font-size: 100%;
    }
    galeria-h2 {
        text-align: center;
        margin: 1rem;
    }
    wrapper-galeria {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media (min-width: 768px) {
    main {
        margin: 2px;
    }
    footer {
        margin: 1px;
        font-family: sans-serif;
    }
    wrapper-galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 25vh);
    }
}